<!--
  Generated template for the RoomService page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "ROOMSERVICE" | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="light">{{ "LIMPIEZA" | translate }}</ion-item-divider>
    <ion-item>Limpieza de la habitación</ion-item>
  </ion-item-group>
    <ion-item-group>
    <ion-item-divider color="light">{{ "COMIDA" | translate }}</ion-item-divider>
    <ion-item>Ver menú</ion-item>
  </ion-item-group>
    <ion-item-group>
    <ion-item-divider color="light">{{ "AMENIDADES" | translate }}</ion-item-divider>
    <ion-item>Pedir toallas</ion-item>
    <ion-item>Pedir articulos de limpieza personal</ion-item>
    <ion-item>Pedir sabanas o cobertores</ion-item>
    <ion-item>Pedir otro objeto</ion-item>
    
    <ion-item>...</ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">{{ "ASISTENCIA" | translate }}</ion-item-divider>
    <ion-item>Ayuda con la TV</ion-item>
    <ion-item>Ayuda con el Internet</ion-item>
    <ion-item>Ayuda con el aire acondicionado</ion-item>
    <ion-item>...</ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">{{ "OTROS" | translate }}</ion-item-divider>
    <ion-item>Llamar a la recepción</ion-item>
    <ion-item>Otra petición</ion-item>
  </ion-item-group>
</ion-content>
