<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hotel Ejecutivo Tres 10</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">

  <ion-card>
    <img src="http://www.ejecutivoinn.com/prueba/img/slider/1.jpg"/>
    <div class="card-title">{{"GALERIA"|translate}}</div>
    <div class="card-subtitle">{{"GALERIA_DESC"|translate}} </div>
  </ion-card>

  <ion-card>
    <img src="http://www.ejecutivoinn.com/prueba/img/habitaciones/tepic-hotel-ejecutivo-habitacion-jardin.jpg"/>
    <div class="card-title">{{"HABITACIONES"|translate}}</div>
    <div class="card-subtitle">{{"HABITACIONES_DESC"|translate}} </div>
  </ion-card>

  <ion-card>
    <img src="http://www.ejecutivoinn.com/prueba/img/slider/4.jpg"/>
    <div class="card-title">{{"EVENTOS"|translate}}</div>
    <div class="card-subtitle">{{"EVENTOS_DESC"|translate}} </div>
  </ion-card>

  <ion-card>
    <img src="http://www.ejecutivoinn.com/prueba/img/slider/9.jpg"/>
    <div class="card-title">{{"AMENIDADES"|translate}}</div>
    <div class="card-subtitle">{{"AMENIDADES_DESC"|translate}} </div>
  </ion-card>

</ion-content>
